@import '../../styles/_colors.scss';

.Mentions-root {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}

.Mentions-copy {
    display: flex;
    justify-content: space-around;
    margin: 0.2em 0;
    width: 100%;
    @media screen and (max-width: 760px) {
        flex-wrap: wrap;
    }
}

.Mentions-container {
    align-items: center;
    background: $purple;
    border-radius: 10%;
    display: block;
    justify-content: center;
    margin: 10px;
    width: 300px;
}

.Mentions-jpg {
    border-radius: 50%;
    margin-top: 10px;
    max-width: 50%;
}  

.Mentions-title {
    height: calc(3vw + 3vh);
    font-size: calc(1vw + 2vh);
}