@import '../../styles/_colors.scss';

.ImageBar-root {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}

.ImageBar-copy {
    display: flex;
    justify-content: center;
    margin: 0.2em 0;
}

.ImageBar-svg {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 100%;
}  