@import '../../styles/_colors.scss';

.App {
  text-align: center;
}

.App-section {
  align-items: center;
  background-color: $white;
  color: $lavender;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-par {
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
  }

.App-link {
  color: $blue;
}

.App-button {
  background: $purple;
  border-radius: 10%;
  margin: 10px;
  width: 100px;
  height: 50px;
}

.App-title {
  margin-left: 10px;
  margin-right: 10px;
  color: $blue;
  font-style: italic;
  font-size: 1.75em;
  font-style: bold;
  font-weight: 600;
}

body {
      color: $white;
      font-size: 12px;
      font-weight: 300;
      margin: 0;
  }
