@import '../../styles/_colors.scss';

.Libby-root {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.Libby-copy {
    display: flex;
    margin: 0.2em 0;
    text-align: center;
}

.Libby-img {
    border-radius: 50%;
    max-width: 40%;
    margin-top: 10px;
}

.Libby-svg {
    &--left {
        margin-left: 10px;
        max-width: 15%;
    }  
    &--right {
        margin-right: 10px;
        max-width: 15%;
    }
}

.h1 {
    color: $blue;
    font-size: 1.75em;
    font-style: bold;
    font-weight: 600;
}