.Overview-root {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.Overview-copy {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0.2em 0;
    text-align: center;
}

.Overview-title {
    position: absolute;
    right: 15%;
    bottom: 0;
}

.Overview-svg {
    position: absolute;
    left: 15%;
    bottom: 50%;
    max-width: 25%;
    margin-left: 15px;
}