.Overview-root {
    display: block;
    justify-content: center;
    align-items: center;
}

.Overview-copy {
    display: block;
    position: relative;
    width: 100%;
    margin: 0.2em 0;
    text-align: center;
}

.Overview-title {
    bottom: 0;
}

.Overview-img {
    border-radius: 50%;
    max-width: 25%;
    margin-left: 15px;
}